body{
    margin:0 auto;
    width:100%;
}
.nav-bar{
    background-color:green;
    height:86px;
    width:100%;
    position:fixed;
    top:0;
}
.list-item{
    background-color:white;
    float:right;
    clear:left;
    margin:10px;
    display:inline-block;
    border-radius:34%;
}
a li:hover{
    background-color:blue;
}
.main{
    width:100%;
    height:265px;
    background-repeat:no-repeat;
    background-image:url(../imgs/cats.jpg)
}
h1{
    font-size: 56px;
    margin-top:235px;
    text-align:center;
}
.home-section{
    height:500px;
    width:100%;
}
.col{
    height:450px;
    width:47%;
    margin:17px;
    border: black 3px solid;
    float:left;
}
p{
    text-align: center;
}
.cat-col{
    height:325px;
    width:100%;
    margin-top:62px;
}
.footer{
    width:100%;
    height:78px;
    background-color:green;
}
.copy{
    width:100%;
    display:inline-block;
    margin-left:10px;
}
.copyr{
    margin:4px;
}
.social{
    /* height:100px; */
    text-align:center;
}
.fab{
    font-size:2.5em;
    color:white;
    margin:5px;
}
